#basket{border: 1px solid black; width: 20%; float: right; border-radius: 10px;}

#Routes{margin-bottom: 20px; height: auto;}

@media only screen and (max-width: 666px) {
    .App{display: flex; flex-direction: column; }
    #basket{margin-bottom: 20px; width: 100%; }
   
    #Routes{margin-top: 10px; margin-left: 20px;}
    
}













